.news {
    background: #151515 url(/assets/img/bg-news.png) center center/cover no-repeat;
    color: white;
    .news__title {
        position: relative;
        color: white;
    }
    .news__title::after {
        content: "";
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: -1rem;
        width: 15rem;
        height: 0.25rem;
        background: white;
    }
    .news__container {
        max-width: 900px;
        .news__buttons {
            width: 100%;
            display: flex;
            align-items: center;
            font-size: $big-font-size;
            border-top: 1px solid $primary-color;
            border-bottom: 1px solid $primary-color;
            .news__button {
                cursor: pointer;
                margin: 0.5rem 0;
                height: 100%;
                width: 16rem;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.8rem 0;
                border-right: 1px solid $primary-color;
            }
            .news__button--active {
                background: $primary-color;
            }
        }
        .news__button:first-child {
            border-left: 1px solid $primary-color;
        }
        .news__button:last-child {
            border: 1px solid white;
            margin-left: auto;
            align-self: flex-end;
            &:hover {
                transition: all 0.3s;
                border-color: $primary-color;
            }
        }
        .news__content {
            
            margin: 2rem 0;
            .news__list {
             
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 3rem;
                transition: all 0.5s ease-in-out;
                .news__item {
                    max-width: 30rem;
                    .news__thumbnail {
                        display: block;
                        overflow: hidden;
                        height: 15rem;
                       width: 100%;
                        & img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: all 0.5s;
                        }
                        & img:hover {
                            cursor: pointer;
                            transform: scale(1.1);
                            transition: all 0.5s;
                        }
                    }
                    .news__data{
                        height: 25rem;
                        background: #323232;
                        padding: 1rem;
                       
                        .news__day{
                            margin-top: 2rem;
                            font-weight: $font-weight-regular;
                            color: $primary-color;
                            font-size: $normal-font-size;
                        }
                        .news__name{
                            color: white;
                            margin: 1rem 0;
                            
                            font-size: 1.6rem;
                            font-weight: $font-weight-regular;
                        }
                        .news__desc{
                            font-size: $normal-font-size;
                        }
                    }
                }
            }
            .news__paginations {
                padding: 1rem 0;
                margin: 0 auto;
                margin-top: 3rem;
                width: max-content;
                display: flex;
                column-gap: 1rem;
                border-top: 1px solid white;
                border-bottom: 1px solid white;
                font-size: $normal-font-size;
                .news__pagination {
                    cursor: pointer;
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover {
                        border: 1px solid white;
                    }
                }
                .news__pagination--active {
                    border: 1px solid $primary-color;
                    color: $primary-color;
                    &:hover {
                        border: 1px solid $primary-color;
                    }
                }
            }
        }
        .news__content{
            display: none;
        }
        .news__content--hide{
            display: none;
        }
        .news__content--active{
            display: block;
        }
    }
   
}
